<div class="row">
  <div class="row">
    <div class="col s12">
      <h5>STATUS DA ENQUETE</h5>
    </div>
  </div>
  
  <div class="col s12">
    <ng-template [ngIf]="enquete">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5> {{ enquete?.poll_description }}</h5>
        </li>
        <li class="collection-item">
          <h6>Total de views: {{ enqueteStatus?.views }}</h6>
          <ng-template [ngIf]="enqueteStatus?.views">
            <h6>Não votaram: {{ porcentagemNulo }}%</h6>
            <div class="progress">
              <div class="determinate" [style.width]="porcentagemNulo + '%'"></div>
            </div>
          </ng-template>
        </li>
        <ng-template ngFor let-vts [ngForOf]="enqueteStatus?.votes" >
          <ng-template ngFor let-opt [ngForOf]="enquete?.options" >
            <li class="collection-item" *ngIf="opt.option_id === vts.option_id">
              <h6>{{ vts.option_id }} - {{ opt.option_description }}</h6>
              <h6>Total de votos: {{ vts.qty }}</h6>
              <h6>Total: {{ calcularPorcentagem(vts.qty) }}%</h6>
              <div class="progress">
                <div class="determinate" [style.width]="calcularPorcentagem(vts.qty) + '%'"></div>
              </div>
            </li>
          </ng-template>         
        </ng-template>
        <li class="collection-item">
          <div class="block-content">
            <div class="col s6">
              <button class="btn waves-effect waves-light " [disabled]="checkMinEnquetes()" routerLink="/enquete/status/{{ beforePage }}">Voltar<i class="material-icons left">chevron_left</i></button>
            </div>
            <div class="col s6">
              <button class="btn waves-effect waves-light right" [disabled]="checkMaxEnquetes()" routerLink="/enquete/status/{{ nextPage }}">Próxima<i class="material-icons right">chevron_right</i></button>
            </div>
          </div>
        </li>
      </ul>
      
      
      <!-- <div class="row">
        <div class="col s12">
          <h5>
            {{ enquete?.poll_description }}
          </h5>
        </div>
      </div>
      <div class="col s12">
        <div class="divider"></div>
        <div class="section">
          <h6>Total de views: {{ enqueteStatus?.views }}</h6>
        </div>
      </div>
      <ng-template ngFor let-vts [ngForOf]="enqueteStatus?.votes" >
        <ng-template ngFor let-opt [ngForOf]="enquete?.options" >
          <div class="col s12" *ngIf="opt.option_id === vts.option_id">
            <div class="section">
              <h6>{{ vts.option_id }} - {{ opt.option_description }}</h6>
              <h6>Total de votos: {{ vts.qty }}</h6>  
            </div>  
          </div>
        </ng-template>
      </ng-template>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light " [disabled]="checkMinEnquetes()" routerLink="/enquete/status/{{ beforePage }}">Voltar<i class="material-icons left">chevron_left</i></button>
        </div>
        <div class="col s6">
          <button class="btn waves-effect waves-light right" [disabled]="checkMaxEnquetes()" routerLink="/enquete/status/{{ nextPage }}">Próxima<i class="material-icons right">chevron_right</i></button>
        </div>
      </div> -->
    </ng-template>
    <ng-template [ngIf]="!enqueteStatus">
      <div class="row">
        <div class="col s12">
          <div class="card hoverable">
            <div class="card-image">
              <img src="../../../assets/images/page-not-found.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h5 class="center-align">
                  Desculpe-nos pelo transtorno.
                </h5>
                <h5 class="center-align">
                  Não foi possivel localizar a enquete.
                </h5>
              </div>
              <div class="card-action">
                <div class="row">
                  <div class="col s6">
                    <button class="btn waves-effect waves-light " [disabled]="checkMinEnquetes()" routerLink="/enquete/status/{{ beforePage }}">Voltar<i class="material-icons left">chevron_left</i></button>
                  </div>
                  <div class="col s6">
                    <button class="btn waves-effect waves-light right" [disabled]="checkMaxEnquetes()" routerLink="/enquete/status/{{ nextPage }}">Próxima<i class="material-icons right">chevron_right</i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>