<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4 class="center-align">TODAS AS ENQUETES</h4>
        </div>
    </div>
</div>

<ul class="collapsible">
    <li *ngFor="let enquete of enquetes">
        <div class="collapsible-header">
            <i class="material-icons">arrow_drop_down</i>
            <span class="coll-text">
                {{ enquete.poll_description }}
            </span>
            <span class="new badge" data-badge-caption="Opções">
                {{ enquete.options?.length || '0' }}
            </span>
        </div>
        <div class="collapsible-body" *ngFor="let options of enquete.options">
            <span>{{ options.option_description }}</span>
        </div>
    </li>
</ul>