<div class="row">
    <form class="col s12">
        <ng-template [ngIf]="enquete">
            <div class="row">
                <div class="col s12">
                    <h5>
                        {{ enquete?.poll_description }}
                    </h5>
                </div>
            </div>
            <div class="row" *ngFor="let opt of enquete?.options;let i = index;">
                <div class="col s12">
                    <label>
                        <input [id]="opt.option_id" (change)="onSelectionChange(opt.option_id)" [value]="opt.option_id" class="with-gap" name="option_id" type="radio"/>
                        <span>{{ opt.option_description }}</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button [disabled]="selectedOption.option_id === null" class="btn waves-effect waves-light" type="button" name="action" (click)="onSubmit()">
                        Salvar
                        <i class="material-icons right">check</i>
                    </button>
                </div>
                <div class="col s6">
                    <button class="btn waves-effect waves-light right" [disabled]="checkMaxEnquetes()" routerLink="/enquete/votar/{{ nextPage }}">Próxima enquete<i class="material-icons right">chevron_right</i></button>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="!enquete">
            <div class="row">
                <div class="col s12">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="../../../assets/images/page-not-found.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h5 class="center-align">
                                    Desculpe-nos pelo transtorno.
                                </h5>
                                <h5 class="center-align">
                                    Não foi possivel localizar a enquete.
                                </h5>
                            </div>
                            <div class="card-action">
                                <button class="btn waves-effect waves-light" routerLink="/home">Home<i class="material-icons right">home</i></button>
                                <button class="btn waves-effect waves-light right" [disabled]="checkMaxEnquetes()" routerLink="/enquete/votar/{{ nextPage }}">Próxima enquete<i class="material-icons right">chevron_right</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </form>
</div>