<app-preloader></app-preloader>
<ul id="dropdown1" class="dropdown-content">
    <li routerLinkActive="active">
        <a routerLink="/enquete/new">NOVA</a>
    </li>
    <li class="divider"></li>
    <li routerLinkActive="active">
        <a routerLink="/enquete/votar/1">VOTAR</a>
    </li>
    <li class="divider"></li>
    <li routerLinkActive="active">
        <a routerLink="/enquete/status/1">STATUS</a>
    </li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">ENQUETES</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li routerLinkActive="active">
                <a routerLink="/home">HOME</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    ENQUETE
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li routerLinkActive="active">
        <a routerLink="/home">HOME</a>
    </li>
    <li class="divider"></li>
    <li routerLinkActive="active">
        <a routerLink="/enquete/new">NOVA ENQUETE</a>
    </li>
    <li class="divider"></li>
    <li routerLinkActive="active">
        <a routerLink="/enquete/votar/1">VOTAR NA ENQUETE</a>
    </li>
    <li class="divider"></li>
    <li routerLinkActive="active">
        <a routerLink="/enquete/status/1">STATUS DA ENQUETE</a>
    </li>
</ul>

<div class="container">
    <router-outlet></router-outlet>
</div>