<div class="row">
    <div class="row">
        <div class="col s6">
            <h5>CRIAR NOVA ENQUETE</h5>
        </div>
        <div class="col s6">
            <h5>
                <a class="btn-floating green right tooltipped" data-position="bottom" data-tooltip="Adicionar uma opção" (click)="addOptions()" >
                    <i class="material-icons">add</i>
                </a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <li class="divider"></li>
        </div>
    </div>
    
    <form class="col s12" (ngSubmit)="onSubmit(enqueteForm)" #enqueteForm="ngForm">
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="enquete.poll_description" id="last_name" name="polldescription" type="text" class="validate" required="true" maxlength="255">
                <label class="required" for="last_name">Descrição da enquete:</label>
            </div>
        </div>
        <div class="row" *ngFor="let opt of enquete.options;let i = index;">
            <div class="input-field col s12">
                <a class="btn-remove right" [attr.disabled]="enquete.options.length === 1" (click)="removeOptions(i)" >
                    <i class="material-icons">delete_forever</i>
                </a>
                <input [(ngModel)]="opt.option_description" id="input{{i}}" name="{{i}}" type="text" class="validate" required="true" maxlength="150">
                <label class="required" for="input{{i}}">Opção {{i}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12"><i>Campos em ( <b style="color: red;">*</b> ) são obrigatórios.</i></div>
        </div>
        <div class="row">
            <div class="col s12">
                <button [disabled]="!enqueteForm.valid" class="btn waves-effect waves-light" type="submit" name="action">
                    Salvar
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>
    </form>
</div>