
/* BOTÃO REMOVER */
a.btn-remove:hover {
    cursor: pointer;
}

a.btn-remove {
    color: #F44336;
    position: absolute;
    right: 2%;
    top: -14px;
}

a.btn-remove[disabled=true] {
    pointer-events: none;
    color: #9F9F9F !important;
    cursor: default;
}